<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	
	 <system.windows.forms jitDebugging="true" />
	 
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
			<dependentAssembly> 
				<assemblyIdentity name="PartCover.CorDriver" publicKeyToken="219ef380c9348a38" />
				<codeBase version="2.0.0.0" href=".\PartCover.CorDriver.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime> 
</configuration>
